{% apply spaceless %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{- label -}}
    </a>
    <div class="dropdown-menu">
      {% for menuItem in items %}
        {% set menuItem = menuItem|merge({ 'index': loop.index0 }) %}
        {% include '@BootstrapMenu/dropDownItem.html.twig' with menuItem only %}
      {% endfor %}
    </div>
  </li>
{% endapply %}
