{% filter spaceless %}
  {% if label is defined and (route is defined or uri is defined) %}
  <li class="nav-item">
    <a class="nav-link" {% include '@BootstrapMenu/dropDown.html.twig' %}>
      {{ label }}
    </a>
  </li>
  {% endif %}
{% endfilter %}
