<?xml version="1.0"?>
<ruleset name="Provisor">
    <!-- Use PSR-2 as a base -->
    <rule ref="PSR2"/>
    <file>DependencyInjection</file>
    <file>Twig</file>

    <!-- Scan only PHP files -->
    <arg name="extensions" value="php"/>

    <!-- Show colors in console -->
    <arg value="-colors"/>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="140"/>
        </properties>
    </rule>
</ruleset>
